/* Personalizzazione del background */
body {
    background-image: url("/static/b.jpg"); /* Percorso della tua immagine */
    background-size: 100% 100%; /* Estende l'immagine sia in altezza che in larghezza */
    background-position: top center; /* Posiziona l'immagine al centro e in cima */
    background-repeat: no-repeat; /* Evita che l'immagine si ripeta */
    background-attachment: fixed;
    min-height: 100vh; /* Imposta un'altezza minima di tutta la pagina */
    margin: 0;
    color: #333; /* Colore del testo */
}

/* Personalizzazione dei dropdown (select) */
select {
    background-color: #f2f2f2; /* Colore di sfondo */
    color: #333; /* Colore del testo */
    border: 2px solid #555; /* Bordo */
    border-radius: 5px; /* Angoli arrotondati */
    padding: 10px;
    font-size: 16px;
    appearance: none; /* Nasconde la freccia predefinita del browser */
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* Stile per l'opzione selezionata nel dropdown */
select option {
    background-color: #fff; /* Colore di sfondo dell'opzione */
    color: #000; /* Colore del testo */
}

/* Dropdown quando viene cliccato */
select:focus {
    outline: none;
    border-color: #007bff; /* Cambia colore bordo al focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Ombra durante il focus */
}
